@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--gradient: #3cc091;

		--background: 169 34.45% 3.92%;
		--foreground: 169 5.300000000000001% 97.45%;

		--muted: 169 26.5% 14.7%;
		--muted-foreground: 169 5.300000000000001% 54.9%;

		--popover: 169 54.4% 6.37%;
		--popover-foreground: 169 5.300000000000001% 97.45%;

		--card: 169 54.4% 6.37%;
		--card-foreground: 169 5.300000000000001% 97.45%;

		--border: 169 26.5% 14.7%;
		--input: 169 26.5% 14.7%;

		--primary: 169 53% 49%;
		--primary-foreground: 169 5.300000000000001% 4.9%;

		--secondary: 169 26.5% 14.7%;
		--secondary-foreground: 169 5.300000000000001% 97.45%;

		--accent: 169 26.5% 14.7%;
		--accent-foreground: 169 5.300000000000001% 97.45%;

		--destructive: 0 62.8% 30.6%;
		--destructive-foreground: 169 5.300000000000001% 97.45%;

		--ring: 169 53% 49%;

		--radius: 0.75rem;
	}
}

@layer base {
	* {
		@apply border-border;
	}
	body {
		@apply bg-background text-foreground;
	}
}

.latestPost {
	@apply border relative rounded-2xl bg-primary/50 overflow-hidden before:content-[""] before:h-full before:w-full before:absolute before:block before:bg-gradient-to-b before:from-transparent before:to-black/80 before:bg-transparent transition-all before:z-[999] size-auto;
}

.latestPost img {
	@apply object-cover z-[99] transition-all duration-1000;
}

.latestPost:hover img {
	@apply scale-110;
}

.truncateDesc {
	display: -webkit-box;
	width: 100%;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
	overflow: hidden;
}
