@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--gradient: #3cc091;

		--background: 169 34.45% 3.92%;
		--foreground: 169 5.300000000000001% 97.45%;

		--muted: 169 26.5% 14.7%;
		--muted-foreground: 169 5.300000000000001% 54.9%;

		--popover: 169 54.4% 6.37%;
		--popover-foreground: 169 5.300000000000001% 97.45%;

		--card: 169 54.4% 6.37%;
		--card-foreground: 169 5.300000000000001% 97.45%;

		--border: 169 26.5% 14.7%;
		--input: 169 26.5% 14.7%;

		--primary: 169 53% 49%;
		--primary-foreground: 169 5.300000000000001% 4.9%;

		--secondary: 169 26.5% 14.7%;
		--secondary-foreground: 169 5.300000000000001% 97.45%;

		--accent: 169 26.5% 14.7%;
		--accent-foreground: 169 5.300000000000001% 97.45%;

		--destructive: 0 62.8% 30.6%;
		--destructive-foreground: 169 5.300000000000001% 97.45%;

		--ring: 169 53% 49%;

		--radius: 0.75rem;
	}
}

@layer base {
	* {
		@apply border-border;
	}
	body {
		@apply bg-background text-foreground;
	}
}

body {
	min-height: 100vh;
	@apply relative;
}

.latestPost {
	@apply border relative rounded-2xl bg-primary/50 overflow-hidden before:content-[""] before:h-full before:w-full before:absolute before:block before:bg-gradient-to-b before:from-transparent before:to-black/80 before:bg-transparent transition-all before:z-[999] size-auto;
}

.latestPost img {
	@apply object-cover z-[99] transition-all duration-1000;
}

.latestPost:hover img {
	@apply scale-110;
}

.truncateDesc {
	display: -webkit-box;
	width: 100%;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
	overflow: hidden;
}

.sidebarWidget {
	@apply border-[3px] rounded-xl transition-all hover:border-primary/50 text-white/80 p-3;
}

.socialLink {
	@apply bg-emerald-800 flex items-center p-3 rounded-md text-base cursor-pointer transition-all overflow-clip;
}

.socialLink svg {
	@apply mr-1 !size-6;
}

.fb {
	@apply !bg-[#1877f2]/60 hover:!bg-[#1877f2];
}

.insta {
	background: linear-gradient(15deg, #ffb13d, #dd277b, #4d5ed4) !important;
	opacity: 0.9;
	@apply hover:!opacity-100;
}

.yt {
	@apply !bg-red-800 hover:!bg-[#ff0000]/80;
}

.dev {
	@apply !bg-[#0a0a0a]/80 hover:!bg-[#0a0a0a] border border-white/10;
}

.github {
	@apply !bg-[#333]/80 hover:!bg-[#333];
}

.wa {
	@apply !bg-[#075e54]/80 hover:!bg-[#075e54];
}

.inlinePost {
	@apply flex items-center;
}

.WidgetHeader {
	@apply pb-3 border-b mb-6;
}

footer {
	width: 100%;
	position: absolute;
	bottom: 0;
}

.socialAuthBtn{
	@apply bg-transparent !border-0 text-gray-300 text-base border h-[3rem]
}